
<div class="container">
    <div class="logo"><img src="assets\logo.jpg" /></div>
    <div class="text">
        <h5>BHILWARA INFOTECHNOLOGY</h5>
    </div>
</div>
<div class="welcome">
    <h5>WELCOME TO BHILWARA INFOTECHNOLOGY</h5>
</div>
<div class="wz-slider">
    <figure>
    <img src="assets\slider1.jpg" />
    <img src="assets\slider2.jpg" />
    <img src="assets\slider3.jpg" />
    <img src="assets\slider4.jpg" />
    </figure>
    </div>
    
    

<div class="footer">
    <div class="a">
        <p>Phone No:07777883737</p> 
    </div>
    <div class="b">
        <p>Location:Bangalore</p>
    </div>
    <div class="c">
         <p>Fax:07777883737</p>
    </div>
</div>
